/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_dark {
  --mine-font: "IBM Plex mono";
  --mine-font-size: 18px;
  --title-color: rgba(219, 0, 255, 1);
  --h2-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: #ff0070;
  --next-color: #ff0070;
  --bg-img: url(/images/cover-image-dark.png);
  --padding-big: 20px;
  --padding-small: 10px;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
}
