/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-image: var(--bg-img, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--accent-font, "IBM Plex mono", sans-serif);
}

.header {
  min-block-size: 375px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: 0 10px;
}

.decorated-zone::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-width: 1px 1px 0px 0px;
  position: absolute;
  border-style: solid;
  border-color: var(--next-color, rgba(255, 0, 112, 1));
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  display: block;
  border-style: solid;
  width: 26px;
  height: 26px;
  border-width: 0px 0px 1px 1px;
  border-color: var(--next-color, rgba(255, 0, 112, 1));
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rec {
  right: 68px;
  position: absolute;
}

.rec::before {
  content: "";
  display: inline;
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  border-radius: 50%;
  box-shadow: 0 0 0.8em rgba(255, 0, 112, 1);
  position: absolute;
  width: 9px;
  height: 9px;
  top: 18px;
  right: -48px;
}

.rec::after {
  content: "REC";
  display: inline;
  line-height: 1.39;
  font-weight: 400;
  color: var(--accent-color, rgba(255, 0, 112, 1));
  position: absolute;
  top: 10px;
  text-transform: uppercase;
}

.header__theme-menu {
  align-self: center;
  text-transform: lowercase;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  text-transform: lowercase;
  margin-block-start: 10px;
}

.header__theme-menu-item {
  font-family: var(--accent-font, "IBM Plex mono", sans-serif);
  font-size: var(--mine-font-size, 18px);
  color: var(--next-color, rgba(255, 0, 112, 1));
  font-weight: 400;
  line-height: 1.3;
  text-transform: lowercase;
  border: none;
  outline: none;
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-align: center;
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--next-color, rgba(255, 0, 112, 1));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: none;
  border: 1px solid var(--next-color, rgba(255, 0, 112, 1));
  pointer-events: none;
}

.trade:hover {
  border-bottom: 1px solid var(--color-link, rgba(53, 52, 48, 1));
}

.trade:focus {
  outline: none;
}

.trade:focus-visible {
  outline: 1px solid var(--text-color, rgba(241, 178, 206, 1));
  border-radius: 0;
}

.header__title {
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, rgba(219, 0, 255, 1));
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  line-height: 0.83;
  align-self: start;
}

.title-decor {
  align-self: center;
  margin-block-start: -10px;
}

.header_title_paragraph {
  font-family: var(--accent-font, "IBM Plex mono", sans-serif);
  font-size: var(--mine-font-size, 18px);
  color: var(--h2-color, rgba(0, 0, 40, 1));
  line-height: 1.3;
  font-weight: 700;
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
}

.content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  align-self: center;
  row-gap: 50px;
  margin-block-start: 40px;
  margin-block-end: 40px;
}

.heading {
  font-family: inherit;
  color: var(--next-color, rgba(255, 0, 112, 1));
  font-size: var(--mine-font-size, 18px);
  font-weight: 700;
  text-align: start;
  line-height: 1.3;
}

.title_block {
  max-width: 355px;
}

.section__same {
  display: grid;
  row-gap: 20px;
  min-width: 355px;
}

.section_advice {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 355px;
}

.content__text-block {
  font-weight: 400;
  line-height: 1.3;
  color: var(--text-color, rgba(241, 178, 206, 1));
}

.section__what {
  margin: 0 auto;
  display: grid;
  row-gap: 20px;
  min-width: 355px;
}

.transform {
  display: grid;
  row-gap: 20px;
}

.paragraph__title {
  font-size: var(--mine-font-size, 18px);
  color: var(--h2-color, rgba(0, 0, 40, 1));
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  align-items: center;
}

.content__text-block a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.content__advice {
  color: var(--h2-color, rgba(0, 0, 40, 1));
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  font-size: var(--mine-font-size, 18px);
}

.content__text-block {
  margin-block-start: 10px;
}

.gallary {
  display: grid;
  row-gap: 10px;
  margin-block-start: 10px;
}

.gallary_img {
  display: block;
  margin: 0 auto;
  width: 355px;
}

.footer {
  min-block-size: 375px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-self: center;
  text-align: center;
  position: relative;
  grid-template-rows: 1fr max-content 1fr;
  padding: 0 10px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, rgba(219, 0, 255, 1));
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: inherit;
  line-height: 0.83;
  font-weight: 700;
  grid-row: 2;
}

@media (width >= 375px) {
  body {
    min-block-size: 375px;
  }
}

@media (width >= 768px) {
  body {
    min-block-size: var(--size, 1024px);
  }

  .content {
    row-gap: 80px;
    margin-block-start: 60px;
    margin-block-end: 60px;
    padding: 0 20px;
  }

  .header {
    min-block-size: var(--size, 1024px);
    min-width: 768px;
    padding: 0 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .rec {
    top: 10px;
    right: 78px;
  }

  .header__theme-menu-list {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    text-transform: lowercase; */
    margin-block-start: 14px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -22px;
  }

  .title-decor {
    margin-inline-start: 50%;
    margin-block-start: -22px;
  }

  .section__same {
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    column-gap: 20px;
  }

  .content_title_what {
    max-width: 236px;
  }

  .section__what {
    min-width: 728px;
  }

  .gallary {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-block-start: 20px;
  }

  .gallary_img {
    /* display: block; */
    width: 728px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallary_img_sunset {
    grid-column: span 2;
  }

  .gallary_img_ice {
    grid-row: span 2;
  }

  .gallary_img_tape {
    grid-row: span 2;
  }

  .gallary_img_street {
    grid-column: span 2;
  }

  .footer {
    min-block-size: var(--size, 1024px);
    min-width: 768px;
    padding: 0 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  body {
    min-block-size: var(--size, 768px);
  }

  .header {
    min-block-size: var(--size, 768px);
    min-width: 1024px;
  }

  .header__theme-menu {
    align-self: flex-start;
    margin-block-start: 2px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--frame-color, rgba(255, 0, 112, 1));
  }

  .title-decor {
    margin-block-start: -20px;
  }

  .section__same {
    grid-template-columns: minmax(314px, 1fr) minmax(649px, 2fr);
  }

  .section_advice {
    min-width: 649px;
  }

  .content_title_what {
    max-width: 315px;
  }

  .section__what {
    min-width: 984px;
  }

  .transform {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .footer {
    min-block-size: var(--size, 768px);
    min-width: 1024px;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--frame-color, rgba(255, 0, 112, 1));
  }
}
