/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --mine-font: "IBM Plex mono";
  --mine-font-size: 18px;
  --title-color: rgba(219, 0, 255, 1);
  --h2-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: #ff0070;
  --next-color:#ff0070;
  --bg-img:url(images/cover-image-dark.png);
}
