:root {
  --mine-font: "IBM Plex mono";
  --mine-font-size: 18px;
  --title-color: rgba(219, 0, 255, 1);
  --h2-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --next-color: rgba(255, 0, 112, 1);
  --bg-img: url(../images/cover-image-dark.png);
  --frame-color: rgba(255, 0, 112, 1);
}

@media (width >= 768px) {
  :root {
    --size: 1024px;
  }
}

@media (width >= 1024px) {
  :root {
    --size: 768px;
  }
}
